.error-block {
     margin: 5px 0;
     padding: .5em .6em;
     border-radius: 4px;
     border: 1px solid rgb(202, 60, 60);
     color: rgb(202, 60, 60);
}

.footer {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid #eee;
}

.map {
    margin-top: 1em;
    width: 100%;
    /* hack for responsive div with x/y ratio = 100/66 */
    padding-bottom: 66%;
}
